html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FCF7F8;
    color: #0A090C;
    max-width: 800px;
    margin: 0 auto;
}

.store-image {
    width: 300px;
    /*   border-width: 1px;
  border-color: #0A090C;
  border-style: solid;
  padding: 10px; */
    border-radius: 50%;
}

.plant-image {
    height: 200px;
}

header {
    z-index: 10;
    background-color: #FCF7F8;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

header a {
    color: black;
    display: inline-block;
    padding: 10px 5px;
    margin: 0 5px;
}